nsqd_addr = "127.0.0.1:4150"

[log]
  output = "stdout" // stdout 或者 文件路径
  max_size = 100 // MB
  max_backups = 7
  compress = true

# mysql配置
# 注意，这里配置的帐号需要有slave和查询`information_schema`库的权限
[mysql]
  host = "127.0.0.1"
  port = 3306
  user = "root"
  password = ""

# 要同步的库，不在配置中的库或表的binlog会被忽略
# 下方的配置表示，同步`schema1`库的表`table1`，`schema2`库的表`table1`和`table3`
# 如果配置了库名，但是表名列表留空，表示同步该库所有表
[[schema]]
  name = "schema1"
  tables = ["table1"]

[[schema]]
  name = "schema2"
  tables = ["table1", "table3"]

# 存储最新GTIDSet存储器的配置
# mysql2nsq启动后会从该存储器记录的GTIDSet后开始同步
# 如果存储器中没有数据，那么从`init_gtidset`之后开始同步
[storage]
  file_path = "./gtidset.db"
  init_gtidset = "36c0fcec-5447-11ea-8dc1-0242ac110002:1-7713"
